<!-- Parent Child Relationship. So first we have added the app-header as the parent component. we have already made it insdie the header folder and made its selector app-header inside the ts file of that folder, and then now we added that here and same goes with app-navbar. Both of these are the CHILD components, as these are the inner components, and the parent component is this html file which is app.component -->

<!-- <app-header></app-header>
<app-navbar></app-navbar> -->


<!-- Data-flow between parent to child component -->

<!-- in the example below we are going to connect the data from parent (app) component to child (post) component. as the appPostTitle is the variable inside the app component's ts file but we want to use it inside the html file of post component -->

<!-- So, at first what we did is we made a new variable inside the [] and made it equal to the variable which we have made inside the app component's TS file. but that will give us error. to overcome that error what we did is, we made that variable inside the TS file of post list component and then we imported it by adding @Import before that variable. and then we added that variable inside the html file of the post list component by using string interpolation inside the h2, and thats how we attached the variable from parent component to child component -->

<!-- <h1>{{ appPostTitle }} (app)</h1>


<app-posts-list [postListTitle]="appPostTitle" [postIsLogin] = "appIsLogin"
></app-posts-list> -->


<!-- Child to Parent data flow using the ViewChild decorator. We first Imported @ViewChild inside the TS file of Parent component and then imported the PostsListComponent from the ts file of child component inside the () and then we added the variable which we made inside the child component's ts file infront of it and gave it the type: any. and then we imported the AfterViewInit inside the Parent ts file at the top and then used ngAfterViewInit to make the child component's varibale to show up fast. then we made a variable after this. which is message and made it equal to this.childMessage.childMessage. two times cause first is from the main TS file 2nd is from the child component's ts file and then used the string interpolation inside the main html file and used the new variable message there -->

<!-- <app-posts-list></app-posts-list> -->

<!-- <p>{{ message }}</p> -->

<!-- There are two approached to get the data from child component to parent component. One is ViewChild which we used in upper example. the 2nd one is @Output() EventEmitted(). the first one is okay if we have less amount of variables in the child component. but if we have 100s of components inside the child component, then it is better to use the 2nd approach, as in that case we will use the @Output EventEmitter() on one specific variable, and then give it the name according to our desire, In this case we can name as many variables as we want and can use as many variables inside the parent component as we want. The bridge is @Output and EventEmitter() brings the specific data which we want -->

<!-- Child-Parent @output-Event Emitter-1: For this we have to use the @Output and EventEmitter properties inside the ts file of Posts-list. and then we have to make few events in ts file to use them inside the html file -->

<!-- <app-posts-list (MessageEvent)="reciveMessage($event)"  ></app-posts-list>

<p>{{ messageFromChild }}</p> -->


<!-- ng-content: means adding the whole child html file and placing it as we want to place it -->

<app-card>
    <p>This is loaded using ng-content</p>
</app-card>

